body {
    margin: 0;
    padding: 0;
  }
  
  #impacto {
    background-color: #201b24;
    color: white;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img{
    border-radius: 10px;
  }
  
  .izquierda {
    flex-basis: 50%;
    padding: 0 20px;
  }
  
  .derecha {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  .row-1,
  .row-2,
  .row-3 {
    text-align: center;
  }
  
  .row-1 h1,
  .row-2 h1,
  .row-3 h1 {
    font-size: 48px;
    margin: 0;
  }
  
  .row-1 p,
  .row-2 p,
  .row-3 p {
    margin: 0;
  }
  
  @media screen and (max-width: 768px) {
    #impacto {
      flex-wrap: wrap;
    }
  
    .izquierda,
    .derecha {
      flex-basis: 100%;
      padding: 20px;
    }
  
    .derecha {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
      justify-content: center;
      align-items: center;
    }
  }
  
  .programas {
    margin-left: 20px;
    margin-right: 20px;

    max-height: 100vh;
    overflow: hidden; /* Para contener los floats */
    align-items: center;
    
  }
  
  .izquierda-content {
    align-items: center;
    float: left;
    max-width: 600px;
  }
  
  .derecha-content {
    align-items: center;
    float: right;
    max-width: 600px;
  }
  